#jssor_1{
  width: 100% !important;
  height: 600px !important ;
}

#jssor_1 .jssor-slides{
  width: 100% !important;
  height: 550px !important ;
}

.jssor-slides .img-container {
    width: 100% !important;
    height: 550px !important;
}

.img-container div:first-child {
    width: 100% !important;
    height: 560px !important;
}

img.slider-image {
    width: 100% !important;
    /* height: 560px !important; */
    padding: 0px !important;
    margin: 0px !important;
}

.img-container div:first-child {
    width: 100% !important;
    position: relative;
    height: 560px !important;
}

.img-overlay{
  position: absolute;
  width: 100% !important;
  background: rgba(0,0,0,0.30);
  height: 360px !important;
}

.content.m-auto h1 {
    color: yellow !important;
    font-size: 35px !important;
    font-family: Oswald;
}

.content.m-auto {
    max-width: 500px !important;
    margin-left: 15% !important;
    margin-top: 100px !important;
    max-height: 300px !important;
}

.welcome hr.bg-yellow.w-25 {
    border: 1px solid yellow !important;
}

.jssora061 {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: rgba(0,0,0,0.54);
    top: -200px !important;
    cursor: pointer;
}

.welcome p.text-white {
    font-size: 12px;
    margin-top: 4px;
    line-height: 30px;
    font-family: "Karla";
}

button.btn.btn-outline-light {
    margin: auto !important;
    display: flex;
    border-color: rgba(225,225,225,0.5) !important;
}

button.btn.btn-outline-light:hover {
    color: white !important;
    background: transparent !important;
    border-color: white !important;
}