#jssor_1{
  width: 100% !important;
  height: 550px !important ;
}

#jssor_1 .jssor-slides{
  width: 100% !important;
  height: 550px !important ;
}

.jssor-slides .img-container {
    width: 100% !important;
    height: 550px !important;
}

.img-container div:first-child {
    width: 100% !important;
    height: 560px !important;
}

img.slider-image {
    width: 100% !important;
    /* height: 560px !important; */
    padding: 0px !important;
    margin: 0px !important;
}

.img-container div:first-child {
    width: 100% !important;
    position: relative;
    height: 560px !important;
}

.img-overlay{
  position: absolute;
  width: 100% !important;
  background: rgba(0,0,0,0.30);
  height: 330px !important;
}

/* .arrow {
    margin-top: -15%;
} */

.content.m-auto h1 {
    color: yellow !important;
    font-size: 60px;
    font-family: Oswald;
}

.content.m-auto {
    max-width: 500px !important;
    margin-left: 15% !important;
    margin-top: 30px !important;
    max-height: 300px !important;
}

.welcome hr.bg-yellow.w-25 {
    border: 1px solid yellow !important;
}

.welcome p.text-white {
    font-size: 12px;
    margin-top: 4px;
    line-height: 30px;
}

button.btn.btn.outline-primary {
    margin: 0 auto !important;
    display: flex;
    color: white !important;
}
