*,
html {
    font: normal 17px / 28px "Karla", Helvetica, Arial, Verdana, sans-serif;
    word-spacing: normal;
    color: #8b8d94;
}

/* Event */
.events {
    background-image: url("../images/text-background.jpg");
}

.events .card {
    height: 420px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
    border-radius: 25px;
}

.card-body a {
    text-decoration: none;
}

section.container-fluid.events {
    height: 700px;
}

.events .button.m-auto a {
    font-family: "Karla", Sans-serif;
    font-size: 16px;
    background-color: #540f87;
    border-radius: 0px 0px 0px 0px;
    color: white;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
}

.events .button:hover {
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.events .site-title h1.text-center {
    color: #540f87;
    font-family: "Oswald", Sans-serif;
    font-weight: 700;
    margin-top: 20px;
}
.events .site-title {
    margin: auto;
    height: 100px;
    width: 100%;
    /* padding: 10px; */
}

.flip-card .event-1 {
    background-image: url("../images/event-1.jpeg") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.col-lg-4.col-md-4.col-sm-6.col-xs-6.flip-card {
    cursor: pointer;
}

.flip-card-front-overlay {
    display: flex;
    background: rgba(0, 0, 0, 0.63);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    height: 420px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(0.1px);
    transform: translateZ(0.1px);
}

.flip-card-back .flip-card-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
    align-self: center;
}

.flip-card-front .flip-card-text {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    /*-moz-background-origin: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,70px) scale(.9);
    transform: translate3d(0,0,70px) scale(.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
}

.flip-card-back-overlay {
    position: absolute;
    width: 100%;
    display: flex;
    top: -420px;
    background: rgba(0, 0, 0, 0.63);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    height: 420px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(0.1px);
    transform: translateZ(0.1px);
}

.flip-card-text h5 {
    color: yellow;
    font-weight: bold;
}

.flip-card-text i {
    color: yellow;
    font-weight: bold;
}

@keyframes flip-card-text {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.flip-card .event-2 {
    background-image: url("../images/event-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}
.flip-card .event-3 {
    background-image: url("../images/event-3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.events .card.hidden {
    display: none;
}

/* Nav */
.navbar {
    display: flex;
    width: 100%;
    justify-content: center !important;
    margin: 0px 20px;
}
.social-icons li:first-child {
    margin-right: 18px !important;
    margin-top: 2px !important;
}
.social-icons img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.07);
}
.social-icons img {
    width: 33px;
    height: 33px;
    margin-top: -2px;
    margin-right: 5px !important;
    -webkit-transition: transform 0.2s linear;
    -moz-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
}
#menulinks .active {
    border: 4px solid #099345;
}

nav.navbar.float-panel.container-fluid {
    box-shadow: 2px 3px 15px #ccc;
    height: 78px;
}

.navbar div:nth-child(2) {
    /* margin-left: -90px; */
    justify-content: center;
    margin: 0 25px;
}
.navbar div {
    display: flex;
}

.header-links ul.social-icons li:first-child {
    width: 35px;
    margin-right: 9px;
    height: 30px !important;
    padding: 0 10px !important;
    border-radius: 50%;
}
.header-links ul.social-icons li:last-child {
    margin-left: 10px;
}
.header-links ul.social-icons li {
    margin: 0px;
}

/* .menu-links li{
} */

.menu-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 5px !important;
    margin: 0 !important;
    background: white;
    border: 4px solid white;
}

.our-menu p.hidden {
    display: none;
}

.menu-links a:hover {
    border: 4px solid #099345;
    text-decoration: none;
    color: black;
    margin: 0 !important;
}

.navbar li {
    list-style: none;
    margin: 10px;
    display: flex;
}

.navbar ul.social-icons {
    display: flex;
    align-items: center;
}

/* Special Offer */
.specials {
    background-image: url("../images/card-image-3.jpg") !important;
    height: 860px !important;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.special-img-container {
    overflow: hidden;
    position: relative;
}

.card .title a {
    font: normal 500 20px "Oswald", Helvetica, Arial, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.special .card .title a:hover {
    transition: all 0.3s ease-in-out;
    color: #4e0f7b;
}

.special img {
    -webkit-transition: transform 0.2s linear;
    -moz-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
}

.special img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.specials hr.m-auto {
    border: 1px solid yellow;
    width: 40%;
    margin-top: -50px !important;
}

/* .special .diagonal:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    z-index: 1;
    background: rgba(255,255,255,.2);
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

}
 */

.specials .row:first-child {
    margin: auto;
    padding: 30px 0;
    width: 20%;
    padding-top: 60px;
}

.specials h1.text-center {
    color: #ffffff;
    font-family: "Oswald", Sans-serif;
    margin: 80px auto;
    font-weight: 700;
}

.special .card div {
    font-size: 14px;
}

.special .card {
    background-color: #4e0f7b;
    width: 90%;
    margin: -70px auto;
    padding: 25px;
}

.special.col-lg-4.col-md-4.col-sm-4 img {
    width: 100%;
    height: 280px;
}

/* Menu */
.menu {
    background-image: url("../images/text-background.jpg") !important;
}

.our-menu .button a {
    color: white;
    text-align: center;
    margin: auto;
    text-decoration: none;
}
.our-menu .button:hover {
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.our-menu .button {
    font-family: "Karla", Sans-serif;
    font-size: 16px;
    background-color: #540f87;
    text-align: center;
    border-radius: 0px 0px 0px 0px;
    color: white;
    margin: auto;
    width: 50%;
    padding: 15px 20px 15px 20px;
}

.our-menu p {
    text-align: center;
    color: black;
    font-size: 17px;
    font-weight: 100 !important;
    font-family: "Karla", sans-serif;
}

.our-menu h1 {
    color: #540f87 !important;
    font-family: "Oswald", Sans-serif !important;
    font-size: 46px;
    font-weight: 700 !important;
}

.our-menu {
    padding: 60px 0;
    margin: auto;
}

/* Latest News */
.latest-news {
    background-image: url("../images/gallery-3.jpg") !important;
    padding-bottom: 70px;
}

.latest-news .section-title {
    padding-top: 7%;
    margin-bottom: 4%;
}

.latest-news hr.m-auto {
    width: 10%;
    border: 1px solid yellow;
}

.latest-news .card-body {
    background: white;
    padding: 30px 50px;
    position: relative;
}

.news-card {
    overflow: hidden;
}

.news-thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.news-thumbnail:hover {
    transform: scale(1.15);
}

.news-wrapper {
    position: relative;
}

/* .news-wrapper a{
    position: absolute;
    height: 100%;
    width: 100%;
}
 */

/* .news-card:hover{
    transform:scale(1.15);
}
 */
.latest-news .card-body .card-title a {
    color: #4e0f7b;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
}

img.news-thumbnail {
    width: 100%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

/* .news-wrapper .card-body:hover{
    -webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
} */

.latest-news .card-body a {
    color: #4e0f7b;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px 0px 0px 0px;
    font-size: 14px;
    text-align: center !important;
    padding: 10px 10px 10px 10px;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.card-body p {
    color: black;
}
.card-body h5 {
    color: black;
}

.section-title h1.text-center {
    color: #ffffff;
    font-family: "Oswald", Sans-serif;
    font-weight: 700;
}

.card-body .rounded-circle {
    left: 40%;
    text-align: center;
    background: black;
    z-index: 1000;
    width: 60px;
    height: 60px;
    padding: 5px 10px;
    position: absolute;
    top: -30px;
}

/* Gallery */
:root {
    --dark: #373349;
    --shadow: rgba(0, 0, 0, 0.2);
}

.image-container {
    overflow: hidden;
    position: relative;
}

.image-container:hover .gallery-overlay {
    left: 0;
    display: block;
    transition: opacity 0.3s ease;
}

.gallery-overlay {
    z-index: 10;
    display: none;
    background: yellow;
    top: 0px;
    height: 500px;
    position: absolute !important;
    opacity: 0.75;
    width: 500px;
    transition: opacity 600ms ease;
}

.gallery-overlay a {
    display: flex;
    background: black;
    color: white !important;
    border-radius: 4px;
    margin: 20px;
    cursor: pointer;
    height: 20px;
    justify-content: space-evenly;
    width: 65px;
    text-decoration: none !important;
}

.gallery-overlay a p {
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-top: -5px;
}

.gallery-overlay i {
    color: white !important;
    text-decoration: none;
}

.gallery .container-fluid {
    background-color: var(--dark);
    margin: 5px;
}

.gallery-images > a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 2em;
    position: relative;
}

.gallery-images > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 16px var(--shadow);
}

.gallery h1.text-center {
    color: #540f87;
    font-family: "Oswald", Sans-serif;
    font-weight: 700;
    margin: auto;
}

.gallery {
    background-image: url("../images/text-background.jpg");
}

.gallery-images {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    height: 790px !important;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 25px 25px 300px;
    grid-gap: 10px;
    padding: 10px;
    margin-bottom: 40px !important;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
}

.gallery-grid .item1 {
    grid-row: span 2;
}

.gallery-grid .item3 {
    grid-row: span 3;
}

.gallery-grid .item4 {
    grid-row: span 2;
    grid-column: 1/1;
}

.gallery-grid .item4 {
    grid-row: 3 / span 2;
}

.gallery-grid .item5 {
    grid-row: 2 / span 3;
}

.gallery-grid .item {
    grid-row: span 2;
}

/* Contact */
.card-group .card .icon img {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    padding: 10px;
}

.bg-overlay {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 100;
    height: 780px;
    bottom: 0px;
    opacity: 0.4;
    background: black;
}

.wrapper {
    height: 100%;
}

.content {
    z-index: 300;
    position: relative;
}
section.contact.container-fluid {
    position: relative;
    background-image: url("../images/contact-form-image.jpg");
    height: 780px;
    padding-top: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contact .card:first-child {
    background: rgba(255, 255, 0, 0.85);
}
.contact .card:nth-child(2) {
    background: rgba(255, 255, 0, 0.7);
}

.contact .card:last-child {
    background: rgba(255, 255, 0, 0.85);
}

.contact .card-group {
    height: 200px;
    margin: 0 20px;
}

.contact-form label {
    color: white;
    font-family: "Karla", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: -10px;
}

form.contact-form input {
    margin: 20px 0;
    color: white !important;
    background: #ffffff42;
    padding: 10px 14px;
}

form.contact-form {
    display: grid;
    position: relative;
    z-index: 400;
    width: 50%;
    margin-bottom: 50px !important;
    margin: auto;
    margin-top: 75px !important;
}

.contact hr.m-auto {
    border: 1px solid #ffff00;
    width: 9%;
}

.contact h1.text-center {
    color: #ffffff;
    font-size: 46px;
    font-family: "Oswald", Sans-serif;
    font-weight: 700;
}

.contact-form button.btn {
    background: #ffff00 !important;
    color: black;
    width: 210px;
    font-weight: 600;
    padding: 015px 35px 15px 35px;
    font-size: 18px;
    font-family: "Karla", Sans-serif;
}

.contact-form {
    font-family: "Karla", Sans-serif;
    font-size: 14px;
}

.contact-form input {
    background-color: rgba(255, 255, 255, 0.34) !important;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

/* Footer */
footer div#backtop {
    position: fixed;
    width: 40px;
    padding: 5px;
    z-index: 10000;
    text-align: center;
    cursor: pointer;
    float: right;
    bottom: 30px;
    right: 5px;
    background: rgba(0, 0, 0, 0.4);
}

.our-menu .section-title .w-25.border-warning {
    color: yellow !important;
    border: 1px solid #ffff00 !important;
    width: 15% !important;
}

.gallery .section-title hr {
    border: 1px solid yellow !important;
}

footer.bg-dark.p-4 {
    height: 70px !important;
    background: #00000c none no-repeat center center !important;
}
.social-icons .fa-facebook {
    background-color: #3e68c0;
}

.social-icons .fa-twitter {
    background-color: #23abff;
}

.social-icons .fa-envelope-o {
    background-color: #f4cd0b;
}

.icon .fa {
    background-color: #ffffff;
    padding: 50% !important;
    height: 100%;
    fill: #540f87;
    color: #540f87;
    border-radius: 50%;
}

.card p.card-text.text-center.font-weight-bold {
    color: black;
}

.logo img {
    margin-top: -14px !important;
}
